---
import Table from "@components/movements/Tabla.svelte";
import Layout from "@layouts/layout.astro";
---

<Layout page="Movimientos">
    <h1 class="text-2xl font-bold mb-4">Movimientos</h1>

    <Table client:visible />
</Layout>