---
import Table from "@components/providers/Tabla.svelte";
import Layout from "@layouts/layout.astro";
---

<Layout page="Proveedores">
    <h1 class="text-2xl font-bold mb-4">Proveedores</h1>

    <Table client:visible />
</Layout>
